:root {
  --splash-blue: #1e1f4e;
  --active-blue: #2E5BFF;
  --active-green: #7ED321;
  --inactive-grey1: #9B9B9B;
  --inactive-grey2: #B0BAC9;
  --error-red: #bb0000;
  --text-grey: #8798AD;
  --title-grey: #505D68;
  --navbar-grey: #F2F5F7;
  --boxshadow-green: #d6ead7;
  --login-text-grey: #b0bac9;
  --login-button-gradient: linear-gradient(281deg, #009ffd, #2a2a72);
  --login-button-shadow: rgba(0, 159, 253, 0.3);
  --gradient-grey: linear-gradient(90deg, rgba(51, 51, 51, 0.2), rgba(255,255,255,0.2));
  --gradient-blue: linear-gradient(90deg, rgba(0, 122, 255, 0.2), rgba(46,91,255,0.2));
  --white: #FFFFFF;
  --black: #000000;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1, h4, h5 {
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  background-color: rgba(0,0,0,.3);
}

.splash {
  width: calc(100vw - 40px);
  height: calc(100vh - 124px);
  background-color: var(--splash-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 62px 20px;
}

.splash > img {
  width: 100vw;
  margin-bottom: 75px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.login-form > p {
  font-size: 13px;
  margin: 0;
}

.login-form > p:nth-of-type(1) {
  position: absolute;
  right: 20px;
  top: 200px;
  color: var(--white);
  cursor: pointer;
}

.login-form > p:nth-of-type(1):hover {
  text-decoration: underline;
}

.login-form > p:nth-of-type(2) {
  margin-top: 20px;
  color: var(--error-red);
}

.login-form-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-input-container {
  width: calc(100% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px var(--black);
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.login-form-input-container img {
  width: 37px;
  height: 37px;
  margin-right: 25px;
  z-index: 2;
}

.login-form-input-container input {
  height: 37px;
  font-size: 15px;
  color: var(--login-text-grey);
  background-color: transparent;
  border: none;
  z-index: 2;
}

.login-form-input-container input::placeholder {
  color: var(--login-text-grey);
}

.login-form-button {
  color: var(--white);
  width: 90%;
  font-size: 20px;
  padding: 14px 0;
  margin-top: 20px;
  box-shadow: 0 18px 40px 0 var(--login-button-shadow);
  background-image: var(--login-button-gradient);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  height: 34px;
  width: calc(100vw - 20px);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--navbar-grey);
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons img {
  margin: 0 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  filter: blur(10);
}

.footer section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-text {
  margin-left: 10px;
  color: var(--inactive-grey2);
}

.footer-text.selected {
  color: var(--active-blue);
}

.feed-container {
  margin-top: 54px;
  padding: 10px;
  position: relative;
}

.feed-item-container {
  margin-top: 64px;
  margin-bottom: 75px;
  cursor: pointer;
}

.feed-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 25px 0;
  padding: 15px 0;
  border: 2px solid var(--active-green);
  border-radius: 5px;
}

.feed-item > img {
  margin-right: 15px;
}

.feed-indicator-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--active-green);
  position: absolute;
  top: -8px;
  right: -8px;
}

.feed-item-text-wrapper > p {
  color: var(--text-grey);
}

.feed-item-text-wrapper > p:first-child {
  font-weight: 500;
  color: black;
}

.cells-container {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  height: 40px;
  overflow-x: hidden;
  overflow: scroll;
  position: fixed;
  top: 54px;
  z-index: 5;
  background-color: var(--white);
  padding: 10px 0;
}

.cell {
  width: 40px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.3;
  border: 2px solid var(--inactive-grey1);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 3px 27.5px;
  margin: 0 5px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cell.selected {
  opacity: 1;
  border: 2px solid var(--active-blue);
}

.machine-container {
  position: relative;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px 15px;
}

.machine-container > img {
  margin: 15px 0;
}

.machine-back {
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 50px;
  font-weight: 200;
  line-height: 38px;
  cursor: pointer
}

.machine-name {
  color: var(--title-grey);
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

.machine-buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.machine-button-container {
  margin: 10px;
  width: calc(50vw - 35px);
  height: calc(50vw - 35px);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.machine-button-container:active p {
  background-image: var(--gradient-blue);
}

.machine-button-container > p {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 65px;
  background-image: var(--gradient-grey);
}

.inspection-container {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: var(--white);
  width: calc(100vw - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspection-container h4 {
  font-weight: 600;
  margin-bottom: 25px;
}

.inspection-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inspection-body > input {
  margin-right: 25px;
  margin-top: 10px;
}

.inspection-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.inspection-input-container > p {
  font-weight: 600;
  text-align: center;
  width: calc(50vw - 20px);
}

.inspection-parts-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--inactive-grey2);
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 18px;
  width: calc(50vw - 30px);
  height: 29px;
}

.inspection-parts-input > input {
  font-size: 16px;
  text-align: center;
  border: none;
  max-width: 75%;
}

.inspection-parts-input > div {
  cursor: pointer;
  font-size: 26px;
  color: var(--inactive-grey2);
}

.start-job-container {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: var(--white);
}

.start-job-add {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 25px;
  height: 25px;
  object-fit: contain;
  cursor: pointer;
}

.start-job-arrow {
  position: absolute;
  top: 45%;
  font-size: 30px;
  color: var(--inactive-grey2);
  cursor: pointer;
}

.start-job-arrow:active {
  color: var(--active-blue);
}

.start-job-arrow.left {
  left: 10px;
}

.start-job-arrow.right {
  right: 10px;
}

.start-job-item-container {
  width: calc(100vw - 70px);
  padding: 21px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-job-item-container > h4 {
  margin-bottom: 30px;
}

.start-job-item-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.start-job-item-input-container {
  width: 100%;
  margin-bottom: 15px;
}

.start-job-item-input-container > p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.start-job-item-input {
  height: calc(40px - 6px);
  border: 1px solid var(--inactive-grey2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 18px;
}

.start-job-item-input input {
  width: 90%;
  border: none;
  margin-right: 10px;
  font-size: 16px;
}

.preparation-checklist-container {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: var(--white);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.56);
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preparation-checklist-cells-container {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  height: 40px;
  overflow-x: hidden;
  overflow: scroll;
  z-index: 5;
  background-color: var(--white);
  padding: 10px 0;
}

.preparation-checklist-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% - 40px);
  padding: 20px;
}

.preparation-checklist-buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 315px;
}

.preparation-checklist-button-container {
  margin: 12.5px;
  padding: 6px;
  width: calc(50vw - 57px);
  height: calc(50vw - 57px);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 var(--boxshadow-green);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preparation-checklist-button-container.selected {
  background-image: radial-gradient(circle at 50% 50%, var(--white), var(--active-blue));
}

.preparation-checklist-button-container > p {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  height: 65px;
}

.preparation-checklist-note-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 12;
  background-color: rgba(0,0,0,.3);
}

.preparation-checklist-note-container {
  z-index: 15;
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: var(--white);
  padding: 20px;
  width: calc(100vw - 40px);
}

.preparation-checklist-note-container > h5 {
  margin-bottom: 10px;
  font-weight: 600;
}

.preparation-checklist-note-container > textarea {
  min-height: 125px;
  width: calc(100% - 20px);
  resize: none;
  vertical-align: top;
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
}

.preparation-checklist-note-container > button {
  float: right;
}

.timer-container {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: var(--white);
  width: calc(100vw - 50px);
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-specs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 100%;
  margin: 25px 0;
  position: relative;
}

.timer-selector-bar {
  position: absolute;
  top: 120px;
  left: 0;
  border-top: 1px solid var(--inactive-grey1);
  border-bottom: 1px solid var(--inactive-grey1);
  width: 100%;
  height: 25px;
}

.timer-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.timer-input-container > h4 {
  margin-bottom: 20px;
}

.timer-scrollable-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
  padding: 0 8px;
}

.timer-value {
  font-size: 20px;
  margin: 5px 0;
  color: var(--inactive-grey2);
}

.timer-value.selected {
  color: var(--black);
}

.confirmation-container {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 45px 0;
  background-color: var(--white);
  border-radius: 5px;
  width: 100vw;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-container > * {
  margin: 15px 0;
}

.form-submit-button {
  padding: 5px 0;
  width: 35vw;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--active-blue);
  background-color: var(--white);
  border-radius: 8px;
}

.form-submit-button:active {
  background-image: var(--gradient-blue);
}
